---
import Avatar from "../components/Avatar.astro";
import Badge from "../components/Badge.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/layout.astro";

// icons
import Github from "../../public/images/icons/github.svg";
import Twitter from "../../public/images/icons/x.svg";
import LinkedIn from "../../public/images/icons/linkedin.svg";
import Gmail from "../../public/images/icons/gmail.svg";
import NextJS from "../../public/images/icons/nextdotjs.svg";
import OpenAi from "../../public/images/icons/openai.svg";
import CV from "../../public/images/icons/readdotcv.svg";
import Three from "../../public/images/icons/threejs.svg";
import TS from "../../public/images/icons/typescript.svg";
import Movie from "../../public/images/icons/film.svg";
---

<Layout title="Jed Borseth | Developer" canonicalURL="Home">
  <section class="text-lg h-full md:w-1/2 md:sticky top-0 left-0">
    <div class="flex flex-col p-10 md:p-20 items-center md:items-baseline">
      <Avatar
        img="https://avatars.githubusercontent.com/u/95988576?v=4"
        className="m-2"
      />
      <h1 class="text-4xl font-medium">Jed Borseth</h1>
      <p>Experienced Full-Stack Web Developer</p>
      <div class="md:flex gap-1 flex-wrap md:p-5 mt-2 hidden">
        <Badge text="Typescript" />
        <Badge text="NextJS" />
        <Badge text="React" />
        <Badge text="MySQL" />
        <Badge text="PHP" />
        <Badge text="DrizzleORM" />
        <Badge text="GoLang" />
        <Badge text="NodeJS" />
        <Badge text="ThreeJS" />
        <Badge text="tRPC" />
      </div>
    </div>
  </section>
  <section
    class="grid w-full grid-cols-2 gap-10 md:grid-cols-3 xl:w-1/2 xl:pb-16 sm:grid-cols-1 sm:gap-7 p-4"
  >
    <Link
      title="Github"
      href="https://github.com/JedBorseth"
      openNew
      icon={Github.src}
    />
    <Link
      title="LinkedIn"
      href="https://www.linkedin.com/in/jedsen-borseth-289a64234/"
      openNew
      icon={LinkedIn.src}
    />
    <Link
      title="Twitter"
      href="https://x.com/JedBorseth"
      openNew
      icon={Twitter.src}
    />
    <Link title="Resume" href="/resume" icon={CV.src} projectName="resume" />
    <Link
      title="Email"
      subtitle="jedborseth@gmail.com"
      href="mailto:jedborseth@gmail.com"
      openNew
      icon={Gmail.src}
    />
    <Link
      title="Movie DB"
      subtitle="moviedb.jedborseth.com"
      repo="https://github.com/JedBorseth/movie-database"
      href="./projects/movie-db"
      projectName="movie-db"
      icon={Movie.src}
    />
    <Link
      title="Uno Game"
      repo="https://github.com/joshborseth/uno-game"
      href="./projects/uno"
      projectName="uno"
      icon={NextJS.src}
    />
    <Link
      title="Github1"
      href="https://github.com/JedBorseth"
      icon={Github.src}
    />
    <Link
      title="Github2"
      href="https://github.com/JedBorseth"
      icon={Github.src}
    />
    <Link title="More" href="https://github.com/JedBorseth" icon={Github.src} />
    <Link
      title="Projects"
      href="https://github.com/JedBorseth"
      icon={Github.src}
    />
    <Link
      title="Soon!"
      href="https://github.com/JedBorseth"
      icon={Github.src}
    />
    <Link
      title="Interstellar"
      href="./why"
      icon={Github.src}
      subtitle="The Whole Movie"
      lazy
    />
    <Link
      title="Github4"
      href="https://github.com/JedBorseth"
      icon={Github.src}
      lazy
    />
    <Link
      title="Github5"
      href="https://github.com/JedBorseth"
      icon={Github.src}
      lazy
    />
    <Link
      title="Github6"
      href="https://github.com/JedBorseth"
      icon={Github.src}
      lazy
    />
    <Link
      title="Github7"
      href="https://github.com/JedBorseth"
      icon={Github.src}
      lazy
    />
    <Link
      title="Github8"
      href="https://github.com/JedBorseth"
      icon={Github.src}
      lazy
    />
    <Link
      title="Github9"
      href="https://github.com/JedBorseth"
      icon={Github.src}
      lazy
    />
  </section>
</Layout>
